<footer><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt eius inventore nisi dolorem illo nobis esse perferendis molestias temporibus in commodi veniam quam, fugiat debitis vitae eaque, fuga, eos itaque!</p>
<p>Created by Tommy Chen</p></footer>
